{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 4,
  "printWidth": 100,
  "jsxBracketSameLine": true,
  "overrides": [
    {
      "files": [
        "tsconfig.json",
        "tsconfig.*.json",
        ".eslintrc.json",
        "eslintrc.*.json",
        "project.json",
        "nx.json",
        "package.json",
        "package-lock.json"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}